.auto-style14 {
    width: 666px;
}

.auto-style15 {
    width: 539px;
    height: 42px;
}

.auto-style16 {
    width: 539px;
    height: 44px;
}

.auto-style17 {
    width: 539px;
    height: 59px;
}

.auto-style18 {
    width: 193px;
    height: 42px;
}

.auto-style19 {
    width: 193px;
    height: 44px;
}

.auto-style20 {
    width: 193px;
    height: 59px;
}
