.auto-style1 {
    width: 371px;
}

.auto-style5 {
    width: 137px;
    height: 59px;
}

.auto-style6 {
    width: 30px;
    height: 59px;
}

.auto-style7 {
    width: 327px;
    height: 59px;
}

.auto-style8 {
    width: 137px;
    height: 42px;
}

.auto-style9 {
    width: 30px;
    height: 42px;
}

.auto-style10 {
    width: 327px;
    height: 42px;
}

.auto-style11 {
    width: 137px;
    height: 44px;
}

.auto-style12 {
    width: 30px;
    height: 44px;
}

.auto-style13 {
    width: 327px;
    height: 44px;
}
