.Add-Edit {
    display: flex;
    justify-content: center;
}

.auto-style1 {
    width: 388px;
    margin-bottom: 34px;
}

.auto-style2 {
    width: 124px;
    height: 37px;
}

.auto-style3 {
    width: 23px;
    height: 37px;
}

.auto-style4 {
    height: 37px;
}

.auto-style5 {
    width: 124px;
    height: 63px;
}

.auto-style6 {
    width: 23px;
    height: 63px;
}

.auto-style7 {
    height: 63px;
}
