.Add-Edit {
    display: flex;
    flex-direction: column;
}

.auto-style23 {
    height: 61px;
    width: 151px;
}

.auto-style24 {
    height: 62px;
    width: 151px;
}

.auto-style25 {
    height: 80px;
    width: 151px;
}

.auto-style26 {
    height: 61px;
    width: 18px;
}

.auto-style27 {
    height: 62px;
    width: 18px;
}

.auto-style28 {
    height: 80px;
    width: 18px;
}

.auto-style29 {
    height: 61px;
    width: 271px;
}

.auto-style30 {
    height: 62px;
    width: 271px;
}

.auto-style31 {
    height: 80px;
    width: 271px;
}
