html {
    font-family: sans-serif
}

body {
    margin: 0;
}

header {
    text-align: center;
    background-color: #222222;
    color: #9D9D8D;
    display: flex;
    justify-content: center;
}

.nav-btn {
    margin: 0px 10px;
    padding: 15px 10px;
    color: gray;
}

    .nav-btn:hover {
        color: white;
    }

.active {
    background-color: black;
    color: white;
}

span {
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    width: 100%;
    font-size: 35px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.close-icon {
    width: 20px;
}

.addBtn {
    text-align: right;
    width: 45%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.lblMessage {
    width: 100%;
    text-align: center;
    margin-left: 5%;
    margin-right: 10%;
}

.data {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 30px;
    width: 70%;
}


.btnAdd {
    background-color: rgb(240, 173, 78);
    height: 5vh;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 3px;
}

.Add-Edit {
    display: flex;
    flex-direction: column;
    align-items: center;
}
